@font-face {
  font-family: "digital-7";
  src: url(fonts/digital-7/digital-7.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "digital-7";
  font-size: 28px;
  letter-spacing: 3px;
}
::selection {
  background-color: transparent;
}
body {
  background: black;
  min-height: 100vh;
  /* overflow: hidden; */
}
h1#heading {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-block: 30px;
}
.colored_p {
  text-align: center;
  color: darkviolet;
}
.colored_p span {
  color: black;
}
#round {
  color: white;
}
.container,
.result {
  display: flex;
  background-color: white;
  width: 70vw;
  border-radius: 30px;
  min-height: 65vh;
  margin: 30px auto;
  transition: 1s ease;
}
.result {
  display: none;
  min-height: 15vh;
}
.container > *,
.result > * {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex: 1;
  text-align: center;
  transition: 0.4s ease;
}
.player,
.winner {
  border-radius: 30px 0 0 30px;
  background: white;
}
.winner {
  color: blueviolet;
}
.computer,
.reset {
  border-radius: 0 30px 30px 0;
  background: rgb(255, 216, 255);
}
.reset:hover {
  cursor: pointer;
  background: darkviolet;
  color: white;
  flex: 2;
}
.reset:active {
  background: rgb(179, 0, 255);
}
.container img,
.computerchoice img {
  height: 120px;
  padding: 2vh;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.container img:hover {
  scale: 1.1;
  transform: translate(0px, -10px);
}
.container img:active {
  scale: 0.9;
}
.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (max-width: 1000px) {
  * {
    font-size: 22px;
  }
  h1#heading {
    font-size: 30px;
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .container img,
  .computerchoice img {
    height: 15vw;
    width: auto;
  }
  .container > * {
    gap: 20px;
    border-radius: 14px;
  }
  .reset:hover {
    flex: 1;
  }
}
